[Unit]
Description = DNAT via ENI ens6

[Service]
ExecStart = /opt/nat/dnat.sh
Type = simple
Restart = always

[Install]
WantedBy = multi-user.target
